body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    background-color: #f2eff4;
    font-family: 'poppins', sans-serif;
}

h1 {
    font-size: 7.5em;
    color: #ffffff;
    text-shadow: rgba(0, 0, 0, 0.25) 2px 2px;
    margin: 0;
    margin-top: 1vh;
}

.wow {
    padding: 0px;
    color: pink !important;
    border-radius: 5px !important;
    margin: 25px !important;
    margin-bottom: 0;
}

h3 {
    padding-left: 10vw;
    padding-right: 10vw;
}

h2 {
    font-size: 2em;
}

.header {
    background-color: pink;
    padding: 2vh;
    color: #ffffff !important;
    border-radius: 5px !important;
}

h3 {
    font-size: 3em !important;
}

button {
    height: 5vh;
    width: 10vw;
    align-items: center;
    justify-content: center;
    font-size: 100%;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 10px;
}

p {
    font-size: 1.5em;
    color: rgb(92, 90, 90);
    padding-left: 6vw;
    padding-right: 6vw;
}

button:hover {
    background-color: #0056b3;
}

#noButton {
    background-color: #ff4d4d;
}

#noButton:hover {
    background-color: #ff1a1a;
}

.vid {
    height: 55vw;
    margin: 15px;
    margin-top: 30px;
    border-radius: 15px !important;
    transition: transform 0.3s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.vid:hover{
    transform: scale(1.05);
    transition: transform 0.3s;
}

.pointing {
    font-size: 150px !important;
    margin: 0;
}

#chart {
    width: 100%;
    height: 500px;
}

.gogogo {
    margin-top: 2500px;
    margin-bottom: 2500px;
}

#button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center !important;
    width: 100%;
    height: 200px;
    border-radius: 5px !important;
    transition: transform 0.3s;
    background-color: pink !important;
    color: white;
    font-size: 7.5vh;
    margin-left: 0;
    margin-right: 0;
}

#button:hover{
    transform: scale(1.01);
    transition: transform 0.3s;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
    background-color: #ffffff !important;
    color: pink !important;
}

#button .comment {
    display: none;
}
  
#button:hover .replies {
    display: none;
}
  
#button:hover .comment {
    display: inline;
    color: pink !important;
}

.pic1 {
    height: auto;
    width: 50%;
    border-radius: 15px;
    margin-top: 50vh;
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

img:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

button.click {
    width: 50%;
    height: 100px;
    border-radius: 5px !important;
    transition: transform 0.3s;
    background-color: pink !important;
    color: white;
    font-size: 4vh;
    margin-left: 0;
    margin-right: 0;
}

.container {
    margin-top: 250px;
}

.no {
    margin: 0px;
    font-size: 3vh;
}

.proposal {
    margin-bottom: 1vh;
}